<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>moveSlime</title>
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>

<body>

    <script type="text/javascript">
        var game = new Phaser.Game(800, 600, Phaser.CANVAS, 'phaser-example', {
            preload: preload,
            create: create,
            update: update
        });

        function preload() {

            game.load.image('sky', 'assets/sky.png');
            game.load.image('slime', 'assets/slimer.png');

        }

        var player1;
        var cursors;

        function create() {

            game.add.image(0, 0, 'sky');

            //	Enable p2 physics
            game.physics.startSystem(Phaser.Physics.P2JS);
            
            game.physics.p2.gravity.y = 2000;
            game.physics.p2.defaultRestitution = 0.1;

            //  Add player1
            player1 = game.add.sprite(200, 500, 'slime');

            //  Enable if for physics. This creates a default rectangular body.
            game.physics.p2.enable(player1);

            //  Don't let the player1 rotate
            player1.body.fixedRotation = true;

            cursors = game.input.keyboard.createCursorKeys();

        }

        function update() {
            player1.body.velocity.x = 0;

            if (cursors.left.isDown) {
                player1.body.moveLeft(400);
            }
            else if (cursors.right.isDown) {
                player1.body.moveRight(400);
            }

            if (cursors.up.isDown && isGrounded(player1)) {
                player1.body.velocity.y = -900;
            }
            else if (cursors.down.isDown) {
                player1.body.moveDown(400);
            }

        }
        
        function isGrounded(player) {
            let isStill = player.body.velocity.y < 50 && player.body.velocity.y > -50;
            // worldHeight - playerHeight = 570;
            let isLow = player.position.y > 570;
            
            return isStill && isLow;
        }
    </script>

</body>

</html>
